@import "./admin-navbar";
@import "./create-package";
@import "./custom-modal";
@import "./edit-single-trip";

@media (max-width: 576px) {
  .main-container {
    .admin-navbar {
      position: relative;
      float: left;
      left: 0;
      z-index: 10001;
    }

    .create-edit-package {
      position: absolute;
      float: right;
      width: calc(100% - 80px) !important;
      right: 0;
    }
  }
}

.search-package-input {
  width: 400px;
  @media (max-width: 576px) {
    width: 100%;
  }
}

.rating-star {
  width: fit-content;
}

.dashboard-main-content {
  margin-right: 350px;
}

.dashboard-video-gallery {
  margin-right: 370px;
}

.dashboard-main-content-sidebar {
  position: absolute;
  right: 0;
  margin-right: 30px;
}
