.main-menu {
  ul {
    list-style: none;
    padding: 0;
  }
  .submenu {
    width: 850px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
  }
}

.menu-header:hover {
  color: $success;
  cursor: pointer;
  .submenu {
    color: $dark;
    li:hover {
      color: $success;
    }
  }
}
