.main-menu {
  ul {
    list-style: none;
    padding: 0;
  }
  .submenu {
    max-width: 850px;
    min-width: 400px;
    width: auto;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    .child-menu {
      width: 300px;
    }
  }
}

.menu-header {
  font-size: 14px;
  padding: 5px 10px;
  a {
    color: $dark !important;
  }
  &:hover {
    color: $success;
    cursor: pointer;
    background: #f1f1f1;
    .submenu {
      color: $dark;
      li {
        padding: 5px 10px;
        &:hover {
          color: $success;
          background: #f1f1f1;
        }
      }
    }
  }
  .submenu li {
    padding: 5px 10px;
  }
}
