@import "~bootstrap/scss/bootstrap";
@import "material-icons/iconfont/material-icons.css";
@import "./admin/custom-style.scss";
@import "custom-typography";
@import "navbar";
@import "./trip-card";
@import "./home";
@import "./single-trip";
@import "./footer";
@import "./register-page";
@import "./home-test";
@import "./mega-menu";
@import "./fix-departure-table";
@import "./admin/dashboard-table";
@import "./custom-table";
@import "./review-slider";
@import "./blog-card";
@import "./client/user-account-dashboard.scss";
@import "./common-banner";
@import "./blog";
@import "./region";
@import "./team";

$theme-secondary: #f7941d;
$theme-secondary-dark: #eb8101;

.main-container {
  min-height: calc(100vh - 143px);
  display: flex;
  flex-direction: column;
}
.admin-main-container {
  min-height: 100vh;
  flex-grow: 1;
}

.text-theme-secondary {
  color: $theme-secondary;
}

.bg-theme-secondary {
  background: $theme-secondary;
}

.bg-theme-fade-secondary {
  background: #ffe7c7;
}

.btn.btn-theme-secondary {
  background: $theme-secondary;
  border-color: $theme-secondary-dark;
  color: $black;
  &:hover {
    background: $theme-secondary-dark;
  }
}

.text-decoration-none {
  text-decoration: none;
}

.py-100 {
  padding: 100px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-6 {
  padding-top: 6rem;
}

.header-image {
  img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
}
